# Android build artifacts
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.keystore

# iOS build artifacts
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/

# Node modules
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
ios_distribution.key
ios_distribution.csr
csr.cnf
distribution.p12
distribution.pem
*.p8
